table{
    border: 20px;
}
div{
    background-color: #6d7ae0;
    width: 1000px;
}
p{
    display: inline-block;
}
span{
    margin: 200px;
}
.riga{
    margin-left: 50px;
}
.zoe{
    color: #a9a9b5;
    background-color:ghostwhite;
    border-radius: 10px;
}
.zoe2{
    color: #a9a9b5;
    background-color:aliceblue ;
}
.zoe3{
    color: #a9a9b5;
    background-color:ghostwhite;
}
.zoe4{
    color: #a9a9b5;
    background-color:aliceblue ;
}
.zoe5{
    color: #a9a9b5;
    background-color:ghostwhite;
}
.zoe6{
    color: #a9a9b5;
    background-color:aliceblue ;
}
.zoe7{
    color: #a9a9b5;
    background-color:ghostwhite;

}
.zoe8{
    color: #a9a9b5;
    background-color:aliceblue ;
}
.zoe9{
    color: #a9a9b5;
    background-color:ghostwhite; 
}
.zoe10{
    color: #a9a9b5;
    background-color:aliceblue ;
}
.zoe11{
    color: #a9a9b5;
    background-color:ghostwhite; 
}
.zoe12{
    color: #a9a9b5;
    background-color:aliceblue ;
}
.zoe13{
    color: #a9a9b5;
    background-color:ghostwhite;  
}
.zoe14{
    color: #a9a9b5;
    background-color:aliceblue ;
}
.zoe15{
    color: #a9a9b5;
    background-color:ghostwhite; 
}
.zoe16{
    color: #a9a9b5;
    background-color:aliceblue ; 
    border-radius: 10px;
}
