div{
    border: 6px solid black;
    height: 150px;
}
h6{
    font-size: 15px;
    color: grey;
    text-align: center;
    
}
.A2{
    font-family: "Agdasima", sans-serif;
    margin: auto;
    text-align: center;
}