/* .main{
    background-color: aqua;
    width: 250px;
    height: 250px;
    transition: width .1s, height 1s;
    margin-left: 30px;
    transition: margin-left 0.5s 1s;
    margin-top: 20px;
    transition: margin-top 0.5s 1s;
}
.main:hover{
    width: 300px;
    height: 300px;
    transition: width .1s, height 1s;
    margin-left: 50px;
    transition: margin-left 0.5s 1s;
    margin-top: 30px;
    transition: margin-top 0.5s 1s;
} */
.containers{
    padding-top: 50px;
    padding-left: 50px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: red;
    z-index: 9999;
}
.box2{
    background-color: blue;
}
.box3{
    background-color: yellow;
}
.box4{
    background-color: green;
}
.cont1,.cont2{
    display: flex;
}
.box1:hover{
    transform: rotate(90deg);
    transition: 2s ease;
    transform-origin: left;
    position: relative;
    right: 70px;
    z-index: 9999;
}
.box2:hover{
    transform: rotate(90deg);
    transition: 2s ease;
    position: relative;
    top: 70px;
    left: 70px;
    z-index: 9999;
}
.box3:hover{
    transform: rotate(180deg);
    transition: 2s ease;
    transform-origin: left;
    position: relative;
    right: 70px;
    z-index: 9999;
}
.box4:hover{
    transform: rotate(180deg);
    transition: 2s ease;
    position: relative;
    left: 70px;
    z-index: 9999;
}
h1{
    margin-top:-120px ;
    margin-left: 30px;
}