.header{
    background-color: aqua;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.riga{
    float: right;
    margin-top: 60px;
    margin-right: 20px;
}
img{
    float: left;
    width: 100px;
    height: 100px;
    margin-top: -50px;
}