.riga{
    background-color: aqua;
}
.hera{
    background-color: aquamarine;
}
.zoe{
    background-color: azure;
}
.fjolla{
    background-color: beige;   
}
.ariant{
    background-color: bisque;
}